---
const { title, logo } = Astro.props;
---

<header
  class="mons-preclare top-4 right-4 rounded-full fixed z-50 flex w-min items-center bg-transparent lg:w-full lg:rounded-none lg:top-0 lg:right-0"
>
  <div
    class="container mx-auto py-2 md:max-w-screen-sm md:mx-auto lg:max-w-screen-md xl:max-w-screen-lg 2xl:max-w-screen-xl"
  >
    <div class="relative flex items-center justify-between my-2 xl:items-start">
      <div
        class="flex w-full items-center justify-end px-4 lg:pr-0 xl:flex-col xl:items-end"
      >
        <slot name="top-links" />
        <div>
          <button
            id="mp-navbar-toggle"
            class="absolute right-4 top-1/2 block -translate-y-1/2 rounded-lg px-3 py-[6px] ring-primary lg:hidden"
          >
            <span
              id="mp-navbar-menu-button-top"
              class="relative my-[6px] block h-[2px] w-[30px] bg-primary"
            ></span>
            <span
              id="mp-navbar-menu-button-middle"
              class="relative my-[6px] block h-[2px] w-[20px] bg-primary"
            ></span>
            <span
              id="mp-navbar-menu-button-bottom"
              class="relative my-[6px] block h-[2px] w-[25px] bg-primary"
            ></span>
          </button>
          <nav
            id="mp-navbar-close"
            class="absolute right-0 top-12 w-full min-w-[200px] rounded-lg
              bg-white/80 backdrop-blur py-4 px-6 shadow duration-150
              transition-all -translate-y-4 opacity-0 pointer-events-none
              lg:backdrop-blur-none lg:static lg:block lg:w-full lg:max-w-full lg:bg-transparent
              lg:p-0 lg:shadow-none lg:opacity-100 lg:pointer-events-auto lg:translate-y-0"
          >
            <ul class="block lg:flex">
              <slot />
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<script>
  const header = document.querySelector("header");
  const toggleButton = document.getElementById("mp-navbar-toggle");
  const collapseButton = document.getElementById("mp-navbar-close");

  const top = document.getElementById("mp-navbar-menu-button-top");
  const middle = document.getElementById("mp-navbar-menu-button-middle");
  const bottom = document.getElementById("mp-navbar-menu-button-bottom");

  const scrolledClasses = {
    top: ["bg-transparent"],
    scrolled: [
      "bg-slate-50",
      "bg-opacity-90",
      "shadow-sticky",
      "backdrop-blur-sm",
      "shadow",
    ],
  };

  //x-init="window.pageYOffset >= 50 ? scrolledFromTop = true : scrolledFromTop = false"
  //		  @scroll.window="window.pageYOffset >= 50 ? scrolledFromTop = true : scrolledFromTop = false">

  toggleButton.addEventListener("click", (e) => {
    toggleButton.classList.toggle("navbarTogglerActive");
    collapseButton.classList.toggle("pointer-events-none");
    collapseButton.classList.toggle("opacity-0");
    collapseButton.classList.toggle("opacity-100");
    collapseButton.classList.toggle("-translate-y-4");
    collapseButton.classList.toggle("translate-y-0");

    top.classList.toggle("rotate-45");
    top.classList.toggle("top-[7px]");

    middle.classList.toggle("opacity-0");

    bottom.classList.toggle("top-[-8px]");
    bottom.classList.toggle("rotate-[135deg]");
    bottom.classList.toggle("!w-[30px]");
  });

  window.addEventListener("scroll", (e) => {
    window.pageYOffset >= 50
      ? header.classList.remove(...scrolledClasses.top)
      : header.classList.remove(...scrolledClasses.scrolled);

    window.pageYOffset >= 50
      ? header.classList.add(...scrolledClasses.scrolled)
      : header.classList.add(...scrolledClasses.top);
  });
</script>
