---
const { title } = Astro.props;
---

<section class="logos relative w-full overflow-hidden px-8 py-16
             sm:mx-auto sm:pt-24
             md:max-w-screen-sm md:pt-40 md:px-0
             lg:max-w-screen-md
             xl:max-w-screen-lg
				2xl:max-w-screen-xl">
	<h3 class="font-display text-3xl text-neutral-800 mb-8 uppercase text-center
		sm:text-2xl text-left
		md:text-4xl md:pt-8 md:mb-8
		lg:text-neutral-darkest
		wow animate__animated animate__fadeInUp">		
		{ title }
	</h3>
    <div class="logos grid grid-cols-2 mx-8 items-center gap-8
                md:flex-row md:mx-0">
		<slot />
    </div>
</section>
